<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Mi Proyecto</title>
    <link rel="stylesheet" href="/public/styles.css">

    <header class="header">
        <div class="logo">
            <img src="./imagenes/Logo Sena.png" alt="Logo Sena">
        </div> 
        <nav>
            <article class="article">
            <ul class="nav_links">
                <header class="header">
                <li><a href="/">Inicio</a></li>
                <li><a href="/experto">Reglas de Usabilidad</a></li>
                <li><a href="#">Interfaz grafica</a></li>
            </header>
            </ul>
        </nav>
        <a href="#" class="btn">><button>Contactanos</button></a>
    </header>
    <body>
        <header class="header1">
            <nav>
                <a href="#pagina-uno"></a>
                <a href="#pagina-dos"></a>
            </nav>
        </header>

        <article class="article">
            <section id="pagina-uno">
                    <main class="main">
                         <section  class="main_section_uno">
                            <div class="main_section_one--info">
                                <h1>Facilidad de uso:</h1>
                                    <p>El sitio web debe ser intuitivo y fácil de navegar. Los visitantes deben poder encontrar lo que buscan sin dificultad. Esto incluye una estructura clara y menús de navegación bien organizados.</p>
                                <h1>Diseño responsive:</h1>
                                    <p>El sitio web debe ser accesible desde diferentes dispositivos (ordenadores, tablets, móviles) y adaptarse a distintos tamaños de pantalla. El diseño responsive garantiza una experiencia consistente y cómoda para el usuario.</p>
                                <h1>Velocidad de carga:</h1>
                                    <p>Los tiempos de carga son críticos para la usabilidad. Los usuarios suelen abandonar sitios que tardan mucho en cargar. Optimizar imágenes, reducir el número de scripts y mejorar la infraestructura del servidor son algunas formas de mejorar la velocidad.</p>
                                <h1>Contenido legible y accesible:</h1>
                                    <p>El contenido debe ser claro, legible y relevante. Utilizar fuentes legibles, un buen contraste entre el texto y el fondo, así como un tamaño adecuado de fuente, son esenciales. Además, asegúrate de que tu sitio sea accesible para personas con discapacidades utilizando, por ejemplo, texto alternativo en imágenes y videos.</p>                  
                                <h1>Funcionalidad clara y consistente:</h1>
                                    <p>Los elementos interactivos como botones, enlaces y formularios deben ser coherentes en todo el sitio. Los usuarios esperan que estos elementos se comporten de la misma manera en todas las páginas.</p>                  
                                </div>
                            <div class="main_section_one--img">
                                <img src="/imagenes/Vista_en_escritorio.png" alt="">
                            </div>
                            
                
                         </section>
                    </main>            
                </section>
            </section>
            <br>
            <br>
            <br>
</section>         
        </article>
        
        <footer class="footer ">
            <div class="logo">
                <img src="./imagenes/usabilidad.png" alt="Logo Sena">
            </div> 
            
        <div class="nav_links">
            <nav>
                <li> <a href="/index.html">INICIO</a> </li>    
                <li> <a href="#">INFORMACION</a> </li> 
                <li> <a href="#">CONTACTO</a>   </li>   
            </nav>    
        </div>
        </footer>
 </body>

</footer>
</html>