<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Mi Proyecto</title>
    <link rel="stylesheet" href="/public/styles.css">

    <header class="header">
        <div class="logo">
            <img src="./imagenes/Logo Sena.png" alt="Logo Sena">
        </div> 
        <nav>
            <article class="article">
        <section id="pagina-uno">
            <ul class="nav_links">
                <header class="header">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="/experto">Reglas de Usabilidad</a></li>
                <li><a href="#">Interfaz grafica</a></li>
            </header>
            </ul>
        </nav>
        <a href="#" class="btn">><button>Contactanos</button></a>
    </header>
<body>  
    <nav>
             <a href="#pagina-dos"></a>
    </nav>
</header>
    <section id="pagina-dos">
                <div class="container">
                    <img class ="login_logo" src="/imagenes/administrador.png" alt="">          
            <form action="/registro" method="post" class="login-form" >
                <input type="text" name = 'name'placeholder="Nombre" id="email-phone" required="true">
                <input type="text" name = 'direccion'placeholder="Direccion" id="Direccion" required="true">
                <input type="text" name = 'telefono'placeholder="Telefono" id="phone" required="true">
                <input type="text" name = 'correo'placeholder="Email" id="email-phone" required="true">
                <input type="password"  name = 'pass' placeholder="Password" id="password" required="true"> 
                <button type="submit">Registrase</button>
                    <div class="extra-links">
                          <a href="#">Need help?</a>
                    </div>
            </form>
                <div class="signup-link">
                    <p>New to page? <a href="/index">Sign up now.</a></p>
                </div>
            </div>
      </section>         
            </article>

            <footer class="footer ">
                <div class="logo">
                    <img src="./imagenes/usabilidad.png" alt="Logo Sena">
                </div> 
                
            <div class="nav_links">
                <nav>
                    <li> <a href="/index.html">INICIO</a> </li>    
                    <li> <a href="#">INFORMACION</a> </li> 
                    <li> <a href="#">CONTACTO</a>   </li>   
                </nav>    
            </div>
            </footer>
</body>
</html>